<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style>
        .custom-color {
            background-color: orange !important;
            padding-left: 10%;
            padding-right: 10%;
        }

        .navbar-brand {
            color: white;
        }

        .navbar-nav .nav-link {
            color: white !important;
        }

        .navbar-toggler-icon {
            background-color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark custom-color">
        <a class="navbar-brand" href="product">Truyện tranh</a>
        <a class="navbar-brand" href="manage">Quản lý</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <!-- Vertical Tabs -->
            <div class="col-md-3 col-12">
                <div class="list-group" id="v-pills-tab" role="tablist">
                    <h3>Thêm</h3>
                    <a class="list-group-item list-group-item-action active" id="v-pills-add-tab" data-toggle="pill"
                        href="#v-pills-add" role="tab">Thêm sản phẩm</a>
                    <h3>Quản lý</h3>
                    <a class="list-group-item list-group-item-action" id="v-pills-products-tab" data-toggle="pill"
                        href="#v-pills-products" role="tab">Quản lý sản phẩm</a>
                    <a class="list-group-item list-group-item-action" id="v-pills-user-tab" data-toggle="pill"
                        href="#v-pills-users" role="tab">Quản lý người dùng</a>
                </div>
            </div>

            <!-- Tabs Content -->
            <div class="col-md-9 col-12">
                <div class="tab-content" id="v-pills-tabContent">
                    <!-- Thêm sản phẩm tab -->
                    <div class="tab-pane fade  show active" id="v-pills-add" role="tabpanel">
                        <h2>Thêm sản phẩm</h2>
                        <form action="manage/addManagee" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="productName">Tên Truyện</label>
                                <input type="text" class="form-control" id="productName" name="productName"
                                    placeholder="Nhập tên sản phẩm">
                            </div>
                            <div class="form-group">
                                <label for="productAuthor">Tên Tác giả</label>
                                <input type="text" class="form-control" id="productAuthor" name="productAuthor"
                                    placeholder="Nhập tên tác giả">
                            </div>
                            <div class="form-group">
                                <label for="productYear">Năm xuất bản</label>
                                <input type="number" class="form-control" id="productYear" name="productYear"
                                    placeholder="Nhập năm xuất bản">
                            </div>
                            <div class="form-group">
                                <label for="productDescription">Mô tả</label>
                                <textarea class="form-control" id="productDescription" name="productDescription"
                                    rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="avatar">Ảnh bìa</label>
                                <input type="file" class="form-control" id="avatar" name="avatar" />
                            </div>
                       
                            <button id="push" type="submit" class="btn"
                                style="background-color: orange; color: white;">Thêm sản phẩm</button>
                        </form>
                    </div>
                    <!-- Quản lý sản phẩm tab -->
                    <div class="tab-pane fade" id="v-pills-products" role="tabpanel">
                        <h2>Quản lý sản phẩm</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ảnh bìa</th>
                                    <th>Tên truyện</th>
                                    <th>Tác giả</th>
                                    <th>Năm xuất bản</th>
                                    <th>Mô tả</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% product.forEach((item)=> { %>
                                    <tr>
                                        <td>
                                            <%= item._id %>
                                        </td>
                                        <td><video src="<%= item.banner %>" width="50px" height="50px"></video></td>
                                        <td>
                                            <%= item.plot %>
                                        </td>
                                        <td>
                                            <%= item.author %>
                                        </td>
                                        <td>
                                            <%= item.year %>
                                        </td>
                                     
                                        <td>
                                            <%= item.describe %>
                                        </td>
                                        <td>
                                            <!-- Delete Form -->
                                            <form action="manage/deleteManage" method="get" style="display: inline;">
                                                <input type="hidden" name="productId" value="<%= item._id %>">
                                                <button type="submit" class="btn btn-danger">Xóa</button>
                                            </form>
                                            <!-- Update Button (You can link to an update page or use JavaScript to handle updates) -->
                                            <button class="btn btn-primary"
                                                onclick="openEditModal('<%= item._id %>', '<%= item.plot %>', '<%= item.author %>', '<%= item.year %>', '<%= item.describe %>', '<%= item.banner %>')">Sửa</button>

                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- Quản lý sản phẩm tab -->
                    <div class="tab-pane fade" id="v-pills-users" role="tabpanel">
                        <h2>Quản lý người dùng</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên đăng nhập</th>
                                    <th>Họ và tên</th>
                                    <th>Email</th>
                                    <th>Mật khẩu</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% user.forEach((item)=> { %>
                                    <tr>
                                        <td>
                                            <%= item._id %>
                                        </td>
                                        <td>
                                            <%= item.username %>
                                        </td>
                                        <td>
                                            <%= item.fullname %>
                                        </td>
                                        <td>
                                            <%= item.email %>
                                        </td>
                                        <td>
                                            <%= item.password %>
                                        </td>
                                        <td>
                                            <form action="manage/deleteUser" method="get" style="display: inline;">
                                                <input type="hidden" name="productId" value="<%= item._id %>"> <!-- Use this hidden field to override the method -->
                                                <button type="submit" class="btn btn-danger">Xóa</button>
                                            </form>
                                           
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Product Modal -->
    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProductModalLabel">Sửa thông tin sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Edit Form -->
                    <form accept="manage/updateManage" method="post" id="editProductForm" enctype="multipart/form-data">
                        <input type="hidden" id="productId" name="productId">
                        <div class="form-group">
                            <label for="editProductName">Tên Truyện</label>
                            <input type="text" class="form-control" id="editProductName" name="editProductName"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="editProductAuthor">Tác giả</label>
                            <input type="text" class="form-control" id="editProductAuthor" name="editProductAuthor"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="editProductYear">Năm xuất bản</label>
                            <input type="number" class="form-control" id="editProductYear" name="editProductYear"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="editProductDescription">Mô tả</label>
                            <textarea class="form-control" id="editProductDescription" name="editProductDescription"
                                rows="3" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="editAvatar">Ảnh bìa</label>
                            <input type="file" class="form-control" id="editAvatar" name="editAvatar" />
                        </div>
                
                        <button type="submit" class="btn btn-primary" onclick="updateProduct()">Lưu thay đổi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        function openEditModal(id, name, author, year, description, avatar, images) {
            document.getElementById('productId').value = id;
            document.getElementById('editProductName').value = name;
            document.getElementById('editProductAuthor').value = author;
            document.getElementById('editProductYear').value = year;
            document.getElementById('editProductDescription').value = description;
            // Set values for other form fields

            // Trigger the modal using jQuery
            $('#editProductModal').modal('show');
        }
    </script>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>

</html>